<div class="hero">
    <% if @featured %>
        <div class="featured-article" style="background-image:url(<%= @featured.image  %>); background-size:cover; background-repeat: no-repeat; ">
            <div class="gradient"></div>
            
                <div class="featured-info">
                    <h3><%= link_to @featured.title, article_path(@featured) %></h3>
                    <p><%= @featured.text %></p>

                </div>        
        </div>
    <% end %>
    <div class="right-feature">
        <section class="recent-articles-section">
            <article class="recent-articles">
                        <% @featured_recent.each do |article| %>    
                            <div class="article-item" style="background-image:url(<%= article.image %>); background-size:cover; background-repeat: no-repeat;">
                                <div class="article-grad"></div>
                                    <p><%= link_to article.title, article_path(article) %></p>
                            </div>
                        </a>
                        <%end%>
            </article>
        </section>
    </div>
</div>

<section class="articles-section container ">
    <h4 class="title"> Featured Categories <i class="fas fa-caret-right"></i> </h4>
    <article class="articles">
        <% @categories_by_priority.each do |category| %>
                <% category.articles.most_recent.each do |article| %>
                    <div><a href="<%= category_path(category) %>">    
                    <div class="article-item" style="background-image:url(<%= article.image %>); background-size:cover; background-repeat: no-repeat;">
                        <div class="article-grad"></div>
                            <h5><%= link_to category.name, category %></h5>
                            <p><%= link_to article.title, article_path(article) %></p>
                    </div></div>
                </a>
                <%end%>
        <% end %>
    </article>
</section>

