<h1>Welcome to Lifestyle</h1>

<div class="featured-article">
    <h2> Featured Article </h2>
        <hr>
        <p>
        
        <% @articles.compact.each do |article| %>
            <%= article.title%>
        <% end %>
        </p>
        <hr>
     <h3><%= @featured_article.title %></h3>
     <p><%= @featured_article.text %></p>  
</div>
<hr>

<article class="articles">
<% @categories_by_priority.each do |category| %>
    <div class="article-item" > 
    <%= link_to category.name, category %><span>(<%= category.articles.count %>)</span>

    <% category.articles.most_recent.each do |article| %>
        
        <p><%= link_to article.title, article_path(article) %></p>
        
    <%end%>
    </div>
    <hr>
<% end %>

</article>

