<nav class="container-fluid">
    <%= link_to 'LifeStyle', root_path, class: 'navbar-brand'%>
    
    <ul class="nav-categories">
        <li class="list-item"><%= link_to 'Home', root_path%></li>
        <li class="list-item"><%= link_to 'Fashion', ""%></li>
        <li class="list-item"><%= link_to 'Entertainment', ""%></li>
        <li class="list-item"><%= link_to 'Sports', ""%></li>
        <li class="list-item"><%= link_to 'Business', ""%></li>
    </ul>
    <ul class="nav-right-items">
        <% if logged_in? %>
            <li class="list-item"><%= link_to 'Create', new_article_path %></li>
            <li class="list-item"><%= link_to 'Logout', logout_path, method: 'delete'%></li>
        <% else %>
            <li class="list-item"><%= link_to 'Login', login_path%></li>
            <li class="list-item"><%= link_to 'Register', signup_path%></li>
        <% end %>
    </ul>
</nav>